
<div class="showcase">
    <img src="/images/showcase.svg" alt="banner">
    <div class="offer">
        <h1>VOTE FOR THE BEST</h1>
        <img src="/images/optimus_p.jpg" alt="">
        <h2>Win a handshake with the <span>OPTIMUS PRIME</span></h2>
    </div>
</div>
