html {
    scroll-behavior: smooth;
  }
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&family=Fredoka+One&display=swap');


  :root {
    --nav-color:#793C75;
    --btn-color:#FFFB9F;
    --card-bg-color:#E8C882;
    --input-field-color:#D5E7DD;
    --offer-color:#F29CC2;
    --primary-fonts: 'Fredoka One', cursive;
    --secondary-fonts: "Fira Sans", sans-serif;
  }

*{
margin:0;
padding:0;
box-sizing: border-box;
}

html body{
display: flex;
justify-content: center;
background-color: var(--btn-color);
}
.wrapper{
width: 80%;
height: 100vh;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.wrapper .showcase{
display: flex;
justify-content:space-between;
align-items: center;
}

.showcase img{
width: 100%;
height: auto;
}

.offer{
  font-family: var(--secondary-fonts);
  padding: 20px;
}

.offer h1{
  font-size: 1.4rem;
  text-align: center;
  color:var(--offer-color);
  margin: 12px;
}

.offer h2{
  font-size: 1.2rem;
  text-align: center;
  color:var(--offer-color);
  margin: 12px;
}

.offer span {
  color: var(--nav-color);
}

.wrapper nav{
padding: 20px 24px;
display:flex;
justify-content: space-between;
font-family:var(--primary-fonts);
background-color: var(--nav-color);
}

.wrapper nav a{
color:var(--input-field-color);
text-decoration: none;
padding: 0px 32px;
}

 