<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>About</title>
    </head>

    <body>
        <div class="wrapper">

            <header >
                <%- include('../partials/nav'); %>
            </header>

            <div class="about">
                <h1>About Us</h1>

                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti
                    perspiciatis, doloribus error eius omnis quia rem iure ipsum ex
                    voluptatum consequuntur dolor sint id vero, pariatur ipsam ab dolorem
                    deserunt? Commodi cum tempore corrupti provident accusantium
                    repudiandae, laudantium alias laborum delectus quo numquam quibusdam qui
                    odio deleniti cupiditate magnam ducimus omnis perspiciatis ea porro
                    rerum, cumque neque. Eaque minima accusantium sunt cum esse aliquam amet
                    odio officiis cumque. Libero, eos. Cumque quasi quod nihil odit
                    veritatis quam nemo eos culpa, cupiditate placeat tempore consequatur
                    ut, reprehenderit officia vel corporis! Excepturi veritatis officiis id
                    odit ea laboriosam voluptates. Velit veniam nemo quis suscipit! Vel iste
                    architecto accusantium.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti
                    perspiciatis, doloribus error eius omnis quia rem iure ipsum ex
                    voluptatum consequuntur dolor sint id vero, pariatur ipsam ab dolorem
                    deserunt? Commodi cum tempore corrupti provident accusantium
                    repudiandae, laudantium alias laborum delectus quo numquam quibusdam qui
                    odio deleniti cupiditate magnam ducimus omnis perspiciatis ea porro
                    rerum, cumque neque. Eaque minima accusantium sunt cum esse aliquam amet
                    odio officiis cumque. Libero, eos. Cumque quasi quod nihil odit
                    veritatis quam nemo eos culpa, cupiditate placeat tempore consequatur
                    ut, reprehenderit officia vel corporis! Excepturi veritatis officiis id
                    odit ea laboriosam voluptates. Velit veniam nemo quis suscipit! Vel iste
                    architecto accusantium.
                </p>
            </div>

            <div class="teams">
                <div class="people">

                    <div>
                        <h2>John Jazz</h2>
                        <p class="title">Country Director</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, aliquam?.</p>
                        <p>john.jazz@example.com</p>
                        <button class="button">send query</button>
                    </div>

                </div>
                <div class="people">
                    <div>
                        <h2>Charls Champ</h2>
                        <p class="title">Adviser</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, qui?</p>
                        <p>charls.champ@example.com</p>
                        <button class="button">send query</button>
                    </div>

                </div>
            </div>
            <p class="copy-right">&copy; Copyright 2022 Cold n' yummy</p>
    </body>

</html>
