<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Document</title>
    </head>

    <body>

        <div class="wrapper">
            <header>
            <%- include('../partials/nav'); %>
            </header>
            <main class="login-block">
                <div class="login-form">
                    <form class="authorisation" action="/login" method="POST">
                        <h1>Login</h1>
                        <% if(errorMessage){ %>
                            <p class="error"><%= errorMessage %></p>
                          <% } %>
                        <input type="text" name="email" placeholder="type your email" required>
                        <input type="password" name="password" placeholder="type your password" required>
                        <button>LOGIN</button>
                        <div class="social">
                            <a href="#" class="fb btn">
                             Login with Facebook
                            </a>
                            <a href="#" class="twitter btn">
                             Login with Twitter
                            </a>
                            <a href="#" class="google btn">
                             Login with Google+
                            </a>
                        </div>
                    </form>
                </div>
                
            </main>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>

        </div>
        
    </body>

</html>
