<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Document</title>
    </head>

    <body>

        <div class="wrapper">
            <header>
                <%- include('../partials/nav'); %>
            </header>
            <main>
                <form action="/login" method="POST">
                    <h1>Login</h1>

                    <input type="text" name="email" placeholder="Your e-mail" required>
                    <input type="password" name="password" placeholder="choose e-mail" required>

                    <button>LOGIN</button>
                </form>
            </main>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>

        </div>
        
    </body>

</html>
