<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="nav-bar">
                <div class="prime-nav-container">
                    <a href="/">HOME</a>
                    <a href="/top">MOST-FAVOURITE</a>
                </div>
                <div class="auth-nav-container">
                    <a href="/login">LOGIN</a>
                    <a href="/register">REGISTER</a>
                </div>

            </div>
            <div class="regi-form">
                <form action="/register" method="POST">
                    <h1>Create an account</h1>
                    <input type="text" name="title" placeholder="Your name" required>
                    <input type="text" name="email" placeholder="Your e-mail" required>
                    <input type="password" name="password" placeholder="choose e-mail" required>
                    <input type="password" name="repeat" placeholder="confirm password" required>
                    <button>Register</button>
                </form>
            </div>
        </div>
    </body>

</html>
