<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <%- include('../partials/nav'); %>
      </header>
      <main class="thanks">
        <div class="greetings">
          <img src="/images/thanks.png" alt="Thank you card!">
          <section >
            <h1>Top 10 favorit cones</h1>
            <h2>
              <%=topCones %>
            </h2>
          </section>
         
        </div>
        <section class="top-cones">
          <h1 class="query"> Voter </h1>
          <p class="query-source">
      
          </p>
        </section>
        
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </div>

  </body>
  
</html>
