<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Document</title>
    </head>

    <body>

        <div class="wrapper">
            <header>
            <%- include('../partials/nav'); %>
            </header>
            <main class="login-block">
                <div class="login-form">
                    <% if(typeof member != 'undefined'){ %> 
                        <div class="member-log">
                        <p>Welcome  <%=member.email %>  ! </p>
                        </div>

                     <% }%>
                </div>
                
            </main>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>

        </div>
        
    </body>

</html>
